.material-icons {
  font-size: 24px;
}

.change-theme {
  display: block; 
  cursor: pointer;
}


@media (min-width: 768px) {
  .change-theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }

  .material-icons {
    font-size: 32px; 
  }
}