body {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.App {
  text-align: center;
  width: 75vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

input {
  padding: 16px;
  margin: 16px;
  text-align: center;
  border-radius: 16px;
}