body {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.App {
  text-align: center;
  width: 75vw;
}

input {
  padding: 10px;
  margin: 10px;
}

button {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.display-game{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}