/* Global Styles */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg-text-color-light: #fafafa;
  --bg-text-color-dark: #303030;
  --accent-color: #3232ff;
  --error-color: #ff3232;
  --confirm-color: #32ff32;
  --bg-color: var(--bg-text-color-light);
  --text-color: var(--bg-text-color-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme='light'] {
  --bg-color: var(--bg-text-color-light);
  --text-color: var(--bg-text-color-dark);
}

[data-theme='dark'] {
  --bg-color: var(--bg-text-color-dark);
  --text-color: var(--bg-text-color-light);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

header {
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--text-color);
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--bg-color);
  background-color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.25s ease, border-color 0.25s ease;
}

button:hover {
  background-color: var(--bg-color);
  color: var(--text-color);
  box-shadow: 0 0 0 1px var(--accent-color);
}

a {
  font-weight: 500;
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  color: var(--text-color);
}