.secret-number {
  border-radius: 50%;
  display: inline-block;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 100px;
  transition: background-color 0.3s ease;
  color: var(--bg-color);
}

.secret-number.default {
  background-color: var(--text-color);
}

.secret-number.correct {
  background-color: var(--confirm-color);
}

.secret-number.incorrect {
  background-color: var(--error-color);
}
