.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
  }
}