.secret-number {
  border-radius: 50%;
  border: 10px solid transparent;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.3s ease;
  color: var(--bg-color);
  background-color: var(--text-color);
  display: flex;
  box-shadow: 0 0 16px var(--text-color);
}

.secret-number.default {
  color: var(--bg-color);
}

.secret-number.correct {
  color: var(--text-color);
  background-color: var(--container-color);
  border-color: var(--confirm-color);
}

.secret-number.incorrect {
  color: var(--text-color);
  background-color: var(--container-color);
  border-color: var(--error-color);
}
