body {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.App {
  text-align: center;
  width: 75vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

input {
  padding: 16px;
  margin: 16px;
  text-align: center;
  border-radius: 16px;
}

.fade-enter {
  opacity: 0;
  transform: translateX(100%);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-exit {
  opacity: 1;
  transform: translateX(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

